# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# Data 
data/raw/*
!data/raw/.gitkeep

# Outputs
*.log
outputs/